[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-atom-dark"]
	path = bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-gotham"]
	path = bundle/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "bundle/vim-javascript-lib"]
	path = bundle/vim-javascript-lib
	url = https://github.com/crusoexia/vim-javascript-lib.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/mtth/scratch.vim.git
[submodule "bundle/space-vim-dark"]
	path = bundle/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
